$os_green1:          #669900;
$os_bggrey:          #F6F6F6;
$os_lightshadowgrey: #CCCCCC; 
$os_darkshadowgrey:  #222222; 
$os_darkgrey:        #444444;
$os_blue1:           #006699;
$os_blue2:           #3399CC;

@mixin border-radius {
  -webkit-border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
}

body {
  background-color: $os_bggrey;
  color: $os_darkgrey;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

#wrapper { 
  margin: 0 auto;
  width: 922px;
  color: $os_darkgrey;
  border-width: 1px;
  border-style: solid;
  border-color: #DDDDDD #CCCCCC #BBBBBB;
  box-shadow: 0 1px 3px $os_lightshadowgrey;
  background: #FFF;
  @include border-radius;
}

#signout {
 margin: 3px;
 text-align: right;
}

#content { 
 width: 900px;
 margin: 10px 0px 10px 0px;
 padding: 10px;
 line-height: 18px; 
}

h1 {
  background-color: $os_green1;
  color: #FFFFFF;
  margin: 0;
  padding: 15px;
  border-bottom: 1px solid #bbb;
  text-shadow: 0 0 4px $os_darkshadowgrey;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
}

pre {
  background-color: $os_bggrey;
  padding: 10px;
  font-size: 11px; }

a {
  color: $os_blue1;
  &:visited {
    color: $os_blue1; }
  &:hover {
    color: $os_blue2; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: $os_green1; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
